.filter {
    &-form__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 36px;
    }
    &-form__content-left {
        width: 190.5px;
        display: flex;
        flex-direction: column;
        gap: $gap;
        padding: 0px;
    }
    &-form__content-fieldset {
        border: none;
    }
    &-form__content-legend {
        padding-bottom: 14px;
        color: rgb(5, 5, 5);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
    }
    &-form__content-rigth {
        width: 190px;
        height: 330px;
    }
    &-form__button {
        font-family: $font-stack;
        position: relative;
        width: 190px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: self-start;
        align-self: flex-end;
        padding: 10px 76px 10px 76px;
        box-sizing: border-box;
        border: 1px solid rgb(4, 4, 4);
        border-radius: 20px;
        background: transparent;
        cursor: pointer;
    }
    &-form__button:hover {
        background-color: #000;
        color: #fff;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0.1s;
    }
}

.filtering-form {
    position: absolute;
    right: 240px;
    top: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 65px;
    padding: 40px 48px 40px 48px;
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
    background: rgb(255, 255, 255);
}

.content-position {
    position: static;
    width: 445.5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 65px;
}

.radio {
    display: flex;
    flex-direction: column;
    gap: 14px;
    &-time {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__input {
        display: none;
    }
    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        padding-left: 29px;
        font-size: 14px;
    }
}

input[type="radio"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 60px;
    background-image: url(IMAGE/Rectangle\ 50.svg);
    background-repeat: no-repeat;
    background-position: center;
}

input[type="radio"]:checked + label::before {
    content: "";
    position: absolute;
    border: 1px solid rgb(0, 0, 0);
    background-image: url(IMAGE/Vector\ 1.svg);
    background-position: center;
}

.range {
    display: flex;
    flex-direction: column;
    gap: 14px;
    &__label {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
        &-sum {
            padding-right: 14px;
        }
    }
    &__slider {
        position: static;
        width: 190.5px;
        height: 0;
        border: 1px solid rgb(0, 0, 0);
    }
    &__input {
        position: absolute;
        width: 190.5px;
        height: 8px;
    }
    &__input,
    &__input::-webkit-slider-runnable-track,
    &__input::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: none;
    }
    &__input::-webkit-slider-runnable-track {
        display: inline-block;
        position: static;
        width: 190.5px;
        height: 8px;
        margin: 14px 0px;
        color: rgb(0, 0, 0);
    }

    &__input::-webkit-slider-thumb {
        position: relative;
        height: 8px;
        width: 8px;
        margin-top: -4px;
        background: #000;
        border: 1px solid #000;
        border-radius: 50px;
        cursor: pointer;
        z-index: 1;
    }
    &__input::-webkit-slider-thumb:active {
        cursor: grabbing;
    }
}

.checkbox {
    position: static;
    width: 154px;
    height: 296px;
    &__type {
        position: static;
        width: 154px;
        height: 296px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        flex: none;
    }
    &__input {
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
    &__label {
        color: rgb(0, 0, 0);
        position: relative;
        padding-left: 29px;
        font-size: 14px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__label::before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid #888888;
        position: absolute;
        left: 0;
        background-color: #fff;
    }
    &__input:checked + &__label::before {
        background-image: url(IMAGE/Vector\ 1.svg);
        background-repeat: no-repeat;
        background-position: center;
        border-color: #000;
    }
    &__color {
        display: flex;
        gap: 14px;
    }
    &__label--color {
        display: none;
    }
    &__label--color {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    &__input {
        display: none;
    }
    &-label {
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
    }
    &-label::before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid #888888;
        position: absolute;
        left: 0;
        background-color: #fff;
    }
    &__input:checked + &-label::before {
        background-image: url(IMAGE/Vector\ 1.svg);
        background-repeat: no-repeat;
        background-position: center;
        border-color: #000;
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
    }
    &__color--white::before {
        background-color: #fff;
        border-color: #808080;
    }
    &__color--black::before {
        background-color: #000;
        border-color: #000;
    }   
    &__color--gray::before {
        background-color: #737373;
        border-color: #737373;
    }
    &__color--red::before {
        background-color: #f00;
        border-color: #f00;
    }
    &__color--orange::before {
        background-color: #ff4500;
        border-color: #ff4500;
    }
    &__color--yellow::before {
        background-color: #ff0;
        border-color: #ff0;
    }
    &__color--green::before {
        background-color: #008000;
        border-color: #008000;
    }
    &__color--ligthgreen::before {
        background-color: #40e0d0;
        border-color: #40e0d0;
    }
    &__color--blue::before {
        background-color: #009fe3;
        border-color: #009fe3;
    }
    &__color--darkblue::before {
        background-color: #00f;
        border-color: #00f;
    }
    &__color--darkpurple::before {
        background-color: #800080;
        border-color: #800080;
    }
    &__color--purple::before {
        background-color: #8a2be2;
        border-color: #8a2be2;
    }
    &__color--ligthpurple::before {
        background-color: #d89aff;
        border-color: #d89aff;
    }
    &__color--pink::before {
        background-color: #ff1493;
        border-color: #ff1493;
    }
    &__input:checked + &__color--black::before,
    &__input:checked + &__color--blue::before,
    &__input:checked + &__color--purple::before {
        background-image: url(IMAGE/iconwhite.svg);
        background-repeat: no-repeat;
        background-position: center;
        border-color: #fdf7f7;
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        background-size: 8px;
    }
}